
.header-top {
	width: 100%;
	height: 200px;
	background-color: green;
}

.wrapper {
	width: 100%;
	height: 100%;
	padding: 20px;
	background-color: yellow;
}

.main-top {
	display: block;
	float: left;
	width: 90%;
	background-color: red;
}

.sidemenu-top {
	float: right;
	width: 10%;
	background-color: purple;
}

.footer-top {
	width: 100%;
	height: 200px;
	background-color: blue;
}

.clearfix::after {
	content: '';
	display: block;
	clear: both;
}

